<template>
  <div>
    <h1>{{ t("messages.hello") }}</h1>
    <el-card style="max-width: 480px">
      <p v-for="o in 4" :key="o" class="text item">{{ "List item " + o }}</p>
    </el-card>
  </div>
</template>

<script lang="ts" setup>
  import { useI18n } from "vue-i18n";
  const { t } = useI18n();
</script>

<style lang="scss"></style>
