html {
  font-family: $font;
  height: 100%;
}

body {
  margin: 0;
  font-family: $font;
  font-size: $font-size-main;
  font-weight: 400;
  line-height: 1.5;
  color: #000000 !important;
  text-align: left;
  height: 100%;
  font-size: 14px !important;
}

.container-full-height {
  min-height: calc(100vh - 100px);
}

#app {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  .page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 20px;
    overflow: auto;
    margin: auto;
    min-width: 70%;
    max-width: 90%;
    @media (max-width: 768px) {
      min-width: 100%;
    }
  }
}
