// Variable overrides
$background-primary: #bebebe;
$background-header: #fff;
$background-aside: #000000;
$background-aside-2: #000000;
$color-aside: #eceff1;
$background-header-old: #f2f3f8;
$border: #000000;

$font: "Yu Gothic";
$font-size: 14px;
$font-size-small: 11px;
$font-size-main: 12px;

$nav-background: white;
$nav-background-hover: #efefef;
$nav-background-active: #e4f0fe;

$color-gradient: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
$color-gradient-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
$color-primary: #009dff;
$color-secondary: #2786fb;
$color-warning: #ff5252;
$color-error: #f56c6c;

$color-admin: #2f353a;
$color-user: #c8ced3;

$border-hover: #aaa;
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 20px;
$left: -($ident);
