<template>
  <div class="h-100" ref="main-content">
    <el-row class="d-flex w-100">
      <el-col :span="24" class="d-flex w-100">
        <PageHeader class="header d-flex w-100" />
      </el-col>
    </el-row>
    <el-row class="d-flex container-full-height">
      <el-col :span="isTabletView ? 7 : 4" v-if="!isCollapse">
        <SideBar class="sidebar" />
      </el-col>
      <el-col :span="isCollapse ? 24 : isTabletView ? 17 : 20">
        <el-main class="page-container">
          <!-- <Breadcrumb /> -->
          <router-view />
        </el-main>
      </el-col>
    </el-row>
    <el-row>
      <PageFooter />
    </el-row>
  </div>
</template>

<script lang="ts" setup>
import { computed } from "vue";
import { RouterView } from "vue-router";
import PageHeader from "./PageHeader.vue";
import PageFooter from "./PageFooter.vue";
import SideBar from "./SideBar.vue";

const isCollapse = computed(() => {
  return false;
});

const isTabletView = computed(() => {
  return window.innerWidth < 1280;
});
</script>

<style lang="scss">
.header {
  height: 100px !important;
}
.sidebar {
  width: 100%;
  height: calc(100vh - 100px);
}
</style>
