<template>
  <header class="d-flex w-100 border-bottom border-dark">
    <el-row
      class="d-flex align-items-center justify-content-between w-100 px-4 py-2"
    >
      <el-col v-if="isCollapse" :span="4" class="text-left">
        <img
          src="@/assets/images/logo/logo.png"
          class="logo-img"
          :width="isTabletView ? 65 : 80"
        />
      </el-col>
      <el-col class="d-flex justify-content-end" :span="20">
        <el-button round class="sys-logout-btn">Logout</el-button>
      </el-col>
    </el-row>
  </header>
</template>

<script lang="ts" setup>
import { computed } from "vue";

const isCollapse = computed(() => {
  return true;
});

const isTabletView = computed(() => {
  return window.innerWidth < 1280;
});
</script>
